<!DOCTYPE html>
<html lang="en" ng-app="JobbedOut">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="//cdn.jsdelivr.net/ramda/0.19.1/ramda.min.js"></script>   
    <script src="/js/app.js"></script>   
    <script src="/js/jobsController.js"></script>   
    <script src="/js/jobView.js"></script>     
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="">
      <input type="search" id="search-title" placeholder="Search by Title">
      <input type="search" id="search-company" placeholder="Search by Company">
      Sort by:
      <select id="sort">
        <option value="">Choose...</option>
        <option value="createdAt">Created At</option>
        <option value="title">Title</option>
        <option value="company">Company</option>
      </select>
    </form>

    <section id="jobs-container" ng-controller="JobsController as jobCtrl">
      <button id="add-job">Add a Job</button>
      <ul>
        <job></job>
      </ul>
      <button id="load-more" ng-click="jobCtrl.nextPage()">Load More</button>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </body>
</html>
